{% extends 'mainapp/base.html' %} 


{% block content %}
<main>
    <h2 class="title__wrap_h2 title_chat">Чат 
        {% if count_msg > 0 %}
        (<span>{{ count_msg }}</span>)</h2>
        {% endif %}
    <div class="wrapper-messages">
        <ul class="messages_preview">
            {% for msg in message_request %}
            <a href="{% url 'chat_message' msg.id %}">
                {% if msg.is_read == False %}
                <li class="message message--unread">
                {% else %}
                <li class="message">
                {% endif %}
                    <span>{{ msg.name }}</span>
                    <span>{{ msg.subject_msg|slice:"10" }}...</span>
                    <span>{{ msg.created }}</span>
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}