@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Runic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 2000px;
  font-family: var(--lato);
  font-style: normal;
  text-decoration: none;
  list-style: none;
  background-repeat: no-repeat;
}

body {
  background: var(--green);
}
a {
  margin: 0;
  color: var(--white);
}
button {
  border: none;
}
.btn_buy {
  width: 300px;
  height: 50px;
  background: #05485b;
  margin: 10px 0 10px 0;
}

:root {
  --black: #17181d;
  --white: #fff;
  --green: #171f21;
  --blue: #05485b;
  --olive: #808040;

  --form_color: #bed2d8;
  --input_color: rgb(171, 171, 71);
  --input_warning: rgba(139, 189, 136, 0.702);

  --btn_positive: #4e6064;

  --vikings: "Noto Sans Runic", sans-serif;
  --lato: "Lato", sans-serif;
  --tr_button: all 1s;
}
/*=======================
  Form Section
========================*/
.wrapper--form_auth {
  width: 400px;
  min-height: 400px;
  height: auto;
  background: var(--white);
  border-radius: 12px;
  text-align: center;
  margin-top: 10vh;
}
.form__auth {padding: 32px;}
.form__auth h4 {
  color: var(--black);
  text-transform: uppercase;
  font-size: 22px;
}
.input_auth {
  width: 260px;
  height: 40px;
  margin: 8px;
  padding: 20px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: var(--form_color);
}
.btn_submit {
  background: var(--blue);
  border: none;
  width: 260px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  color: var(--white);
  text-transform: uppercase;
  margin: 20px;
}
.btn_submit_positive {background: var(--blue);}
.btn_login a {color: var(--blue);}
.logo {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.title_login {
  float: inline-start;
  margin-left: 40px;
}

/*=======================
  Header Section INCLUDE
========================*/
header {
  padding: 30px;
  position: sticky;
  background: #171f21;
}
.active_header {
  position: fixed;
  width: 100%;
  transition: all 1s ease;
  animation-name: header-active;
  background: var(--black);
  top: 0;
}
@keyframes header-active {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.navigation {
  display: flex;
}

.navigation ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  max-width: 60%;
}
.navigation li {
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
}
.navigation a:hover {color: var(--olive);}
.user {
  width: 42px;
  height: auto;
  cursor: pointer;
  margin: 0;
  margin-right: 200px;
  border-radius: 56px 
}
.wrapper-burger {display: none;}

.modal_user {
  position: absolute;
  z-index: 3;
  background: var(--white);
  width: 300px;
  height: 400px;
  right: 100px;
  top: 110px;
  border-radius: 10px;
  text-align: center;
  color: var(--black);
  padding-top: 20px;
}
.user-img-modal {
  height: 45px;
  border-radius: 23px;
}
.settings_user {
  background-image: url(../mainapp/settings.png);
  width: 30px;
  height: 30px;
  background-size: cover;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}
.modal_user img {width: 45px;}
.modal_user h4 {
  letter-spacing: 2px;
  font-size: 22px;
}
.logout {
  position: inherit;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

/*=======================
  Main Section
========================*/
.wrapper {
  width: 100%;
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  max-height: 2200px;
}
.wrapper h1 {
  font-family: var(--vikings);
  color: var(--white);
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 8px;
  line-height: 100px;
}
.wrapper p {
  color: var(--white);
  font-size: 20px;
  padding: 50px 0;
  line-height: 35px;
}
.main--image {
  width: 50%;
  height: 90vh;
  margin: 0;
  object-fit: cover;
}

/*=======================
  Advantage Section
========================*/
.wrapper--title-about {
  margin: 65px auto;
  text-align: center;
  cursor: default;
}
.wrapper--title-about h2 {
  color: var(--white);
  font-size: 35px;
}
.title_about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
}
.icon_title {
  width: 50px;
  height: 50px;
  background-size: contain;
}
.png_image_percent {background-image: url(../mainapp/percent.png);}
.png_image_rest {background-image: url(../mainapp/home.png);}
.png_image_reservations {background-image: url(../mainapp/reservations.png);}
.png_image_payment {background-image: url(../mainapp/payment.png);}

.title_about p {
  color: var(--white);
  font-size: 20px;
  width: 200px;
  margin: 20px;
  font-weight: bold;
}

/*=======================
  SLIDER SECTION
========================*/
.swiper {
  width: 100%;
  height: 60vh;
  max-height: 70vh;
  position: relative;
  z-index: -1;
}
.swiper-slide img,
.swiper-slide {
  width: 100%;
  object-fit: cover;
  height: 60vh;
  max-height: 70vh;
}
.swiper h4 {
  position: absolute;
  color: var(--white);
  font-size: 40px;
  width: 700px;
  font-weight: 100;
  font-family: "Pacifico", cursive;
  line-height: 55px;
  top: 20vh;
  left: 50%;
  transform: translate(-50%);
}

/*=======================
  SERVICES CARD INCLUDE
========================*/
.services_title {
  text-align: center;
  margin: 80px 0;
}
.services_title h2 {
  color: var(--white);
  font-size: 35px;
  margin-bottom: 50px;
}
.services_title h4 {
  font-size: 20px;
  color: var(--form_color);
}
.wrapper--section-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 70%;
  margin: auto;
}
.services_card {margin: 0 0 200px 0;}
.services_card,
.services_card img {
  width: 300px;
  height: 400px;
  cursor: pointer;
}
.card_title {
  color: var(--white);
  margin: 10px auto;
  height: 300px;
  text-align: center;
}
.card_title h3 {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 2px;
  height: 50px;
}
.card_title p {
  font-size: 20px;
  letter-spacing: 1px;
}
.select_all {
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
}

/*=======================
  ABOUT SECTION
========================*/
.wrapper-about img {
  width: 100%;
  min-height: 600px;
  max-height: 730px;
  object-fit: cover;
  object-position: top;
}
.shadow {
  width: 100%;
  height: 15vh;
  background: #05485b82;
  content: "";
  border-radius: inherit;
  opacity: 0.7;
  filter: blur(90px);
}
.wrapper-article h1 {
  text-align: center;
  color: var(--white);
  font-size: 40px;
}
.content_about {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}
.images_about,
.images_about img {
  width: 500px;
}
.images_about img {
  margin: 15px;
  cursor: pointer;
}

.wrapper--article_description {
  width: 40%;
  height: auto;
  background: var(--white);
  border: 2px solid var(--blue);
  border-radius: 6px;
}
.wrapper--article_description p {
  color: var(--black);
  font-size: 20px;
  padding: 25px;
  text-align: left;
}

/*=======================
  PROFILE PAGE
========================*/
.wrapper-account {
  text-align: center;
  color: var(--white);
  margin: 20px;
}
.wrapper-account h1 {margin: 20px;}

.account {
  display: flex;
  align-items: center;
  margin: 0;
  width: 700px;
  background: #05485b2d;
  margin: 0 auto;
  border-radius: 12px;
}

.user_img {
  width: 190px;
  height: 190px;
  border-radius: 107px;
  margin: 20px;
  cursor: pointer;
}
.info--user {
  width: 300px; 
  text-align: left; 
  padding: 20px;
}

.info--user li {margin-top: 10px;}
.text--user {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
}
.text--user input {font-size: 18px; margin-bottom: 10px;}

.text--user input::placeholder {
  color: var(--blue); 
  font-weight: 600;
}













/*=======================
  FOOTER SECTION
========================*/
footer {
  background-color: var(--black);
  width: 100%;
  height: 300px;
}












/*=======================
  MEDIA
========================*/
@media screen and (max-width: 1330px) {
  .main--image {
    width: 40%;
  }
  .wrapper h1 {
    font-size: 40px;
    line-height: 70px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column-reverse;
  }
  .main--image {
    width: 100%;
    height: 100vh;
  }
  .conten_absolut {
    position: absolute;
    top: 20%;
    text-align: center;
  }
  header {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 100vh;
    display: none;
    z-index: 2;
  }
  .wrapper-burger {
    position: absolute;
    display: block;
    z-index: 1;
    margin: 20px 10px;
    cursor: pointer;
  }
  .wrapper-burger img {
    width: 60px;
  }
  .navigation,
  .navigation ul {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 0;
  }
  .navigation li {
    margin: 10px 0;
  }
  .user {
    margin-right: 0;
  }
}
@media screen and (max-width: 620px) {
  .wrapper h1 {
    font-size: 30px;
    line-height: 50px;
  }
  .wrapper p {
    padding: 50px auto;
    width: 450px;
  }
}
