@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Runic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 2000px;
  font-family: var(--lato);
  font-style: normal;
  text-decoration: none;
  list-style: none;
  background-repeat: no-repeat;
}

body {background: var(--green);}
a {margin: 0;color: var(--white);}
button {border: none;}

.btn_buy {
  width: 300px;
  height: 50px;
  background: #05485b;
  margin: 10px 0 10px 0;
}

:root {
  --black: #17181d;
  --white: #fff;
  --green: #171f21;
  --blue: #05485b;
  --olive: #808040;

  --form_color: #bed2d8;
  --input_color: rgb(171, 171, 71);
  --input_warning: rgba(139, 189, 136, 0.702);

  --btn_positive: #4e6064;

  --vikings: "Noto Sans Runic", sans-serif;
  --lato: "Lato", sans-serif;
  --tr_button: all 1s;
}
/*=======================
  Form Section
========================*/
.wrapper--form_auth {
  width: 400px;
  min-height: 400px;
  height: auto;
  background: var(--white);
  border-radius: 12px;
  text-align: center;
  margin-top: 10vh;
}
.form__auth {padding: 32px;}
.form__auth h4 {
  color: var(--black);
  text-transform: uppercase;
  font-size: 22px;
}
.input_auth {
  width: 260px;
  height: 40px;
  margin: 8px;
  padding: 20px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: var(--form_color);
}
.btn_submit {
  background: var(--blue);
  border: none;
  width: 260px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  color: var(--white);
  text-transform: uppercase;
  margin: 20px;
}
.btn_submit_positive {background: var(--blue);}
.btn_login a {color: var(--blue);}
.logo {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.logo_nav {
  background-image: url(../mainapp/logo_nav.png);
  width: 60px;
  height: 60px;
  background-size: cover;
}
.title_login {
  float: inline-start;
  margin-left: 40px;
}

/*=======================
  Header Section INCLUDE
========================*/
header {
  padding: 30px;
  position: sticky;
  background: #171f21;
  z-index: 10;
}
.active_header {
  position: fixed;
  width: 100%;
  transition: all 1s ease;
  animation-name: header-active;
  background: var(--black);
  top: 0;
}
@keyframes header-active {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.navigation {
  display: flex;
  align-items: center;
}

.navigation ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  max-width: 60%;
}
.navigation li {
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
}
.navigation a:hover {color: var(--olive);}
.user, .user_modile {
  width: 42px;
  height: 42px;
  cursor: pointer;
  margin: 0;
  margin-right: 200px;
  border-radius: 56px 
}
.user_modile {display: none;}
.wrapper-burger {display: none;}

.modal_user {
  position: absolute;
  z-index: 3;
  background: var(--white);
  width: 300px;
  min-height: 335px;
  right: 100px;
  top: 121px;
  border-radius: 10px;
  text-align: center;
  color: var(--black);
  padding-top: 20px;
}
.settings_user {
  background-image: url(../mainapp/settings.png);
  width: 30px;
  height: 30px;
  background-size: cover;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}
.user-img-modal {
  width: 145px; 
  height: 145px;   
  border-radius: 77px;
}
.modal_user h4 {
  letter-spacing: 2px;
  font-size: 22px;
}
.logout {
  position: inherit;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.personal_btn:hover {color: white !important;}
.backround-modile-menu {
  background: #17181d71; 
  width: 100%; 
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}
.exit_modal {
  position: absolute;
  right: 0;
  font-size: 45px;
  color: var(--white);
  cursor: pointer;
  right: 24px;
  top: 7px;
  display: none;
}

/*=======================
  Main Section
========================*/
.wrapper {
  width: 100%;
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  max-height: 2200px;
}
.wrapper h1 {
  font-family: var(--vikings);
  color: var(--white);
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 8px;
  line-height: 100px;
}
.wrapper p {
  color: var(--white);
  font-size: 20px;
  padding: 50px 0;
  line-height: 35px;
}
.main--image {
  width: 50%;
  height: 90vh;
  margin: 0;
  object-fit: cover;
}

/*=======================
  Advantage Section
========================*/
.wrapper--title-about {
  margin: 65px auto;
  text-align: center;
  cursor: default;
}
.wrapper--title-about h2 {
  color: var(--white);
  font-size: 35px;
}
.title_about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
}
.icon_title {
  width: 50px;
  height: 50px;
  background-size: contain;
}
.png_image_percent {background-image: url(../mainapp/percent.png);}
.png_image_rest {background-image: url(../mainapp/home.png);}
.png_image_reservations {background-image: url(../mainapp/reservations.png);}
.png_image_payment {background-image: url(../mainapp/payment.png);}

.title_about p {
  color: var(--white);
  font-size: 20px;
  width: 200px;
  margin: 20px;
  font-weight: bold;
}

/*=======================
  SLIDER SECTION
========================*/
.swiper {
  width: 100%;
  height: 60vh;
  max-height: 70vh;
  position: relative;
  z-index: -1;
}
.swiper-slide img,
.swiper-slide {
  width: 100%;
  object-fit: cover;
  height: 60vh;
  max-height: 70vh;
}
.swiper h4 {
  position: absolute;
  color: var(--white);
  font-size: 40px;
  width: 700px;
  font-weight: 100;
  font-family: "Pacifico", cursive;
  line-height: 55px;
  top: 20vh;
  left: 50%;
  transform: translate(-50%);
}

/*=======================
  SERVICES CARD INCLUDE
========================*/
.wrapper-section_card {
  padding: 20px;
  min-height: 670px;
}
.services_title {
  text-align: center;
  margin: 80px 0;
}
.title__wrap_h2 {
  color: var(--white);
  font-size: 35px;
  margin-bottom: 50px;
}
.services_title h4 {
  font-size: 20px;
  color: var(--form_color);
}
.wrapper--section-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 1000px;
}
.services_card {margin: 0 0 200px 0;}
.services_card,
.services_card img {
  width: 300px;
  height: 400px;
  cursor: pointer;
}
.card_title {
  color: var(--white);
  margin: 10px auto;
  height: 300px;
  text-align: center;
}
.card_title h3 {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 2px;
  height: 50px;
}
.card_title p {
  font-size: 20px;
  letter-spacing: 1px;
}
.select_all {
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
}

/*=======================
  PAGINATIONS SECTION
========================*/
.pagination,
.pagination li {margin: 0;}

.wrapper-pagination,
.pagination a {display: flex;justify-content: center;}

.pagination {display: flex;}

.pagination a {
  color: var(--blue);
  font-size: 18px;
  width: 40px;
  height: 40px;
  border: 2px solid var(--blue);
  border-radius: 4px;
  background: var(--white);
  align-items: center;
  cursor: pointer;
  margin: 0 1px 20px 0;
}
.btn--sub {
  background: var(--blue) !important;
  color: var(--white) !important;
}


/*=======================
  SEARCH CARD
========================*/
.btn_search,
.settings_services {margin: 0;}

.title_h1 {
  color: var(--white);
  font-size: 60px;
  text-align: center;
}
.wrapper-content {
  width: 100%;
  height: 20vh;
  max-height: 500px;
  display: flex;
  align-items: center;
}
.settings_services {width: 100%;}
.form_search {text-align: center;}

.search {
  width: 30%;
  height: 40px;
  max-width: 900px;
  padding: 0 24px;
  font-size: 17px;
  font-weight: 600;
  outline: none;
  background: var(--white);
}
.btn_search {width: 127px; height: 42px;}


/*=======================
  ALL CARD <INT:PK>
========================*/
.card_card_img_btn,
.card_img,
.content_description,
.buy_pages__card {margin: 0;}

.wrapper-card {margin: 50px;}
.card {
  display: flex;
  justify-content: space-evenly;
}
.card_img {
  width: 500px;
  height: 700px; 
  cursor: pointer; 
  object-fit: cover;
}
.content_description {
  width: 40%;
  min-width: 500px;
  position: relative;
  color: var(--white);
}
.content_description p {
  margin: 30px 30px 30px 0; 
  font-size: 20px;
  height: 80%;
  max-height: 495px;
  overflow: auto;
}
.buy_pages__card {position: absolute;bottom: 0;cursor: pointer;}
.content_description h3 {margin-top: 20px;}

.content_description p::-webkit-scrollbar {
  width: 5px;
  background: var(--white);
}
.content_description p::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--blue);
}
.content_description p::-moz-scrollbar {
  width: 5px;
  background: var(--white);
}
.content_description p::-moz-scrollbar-thumb {
  background: var(--blue);
  border-radius: 5px;
}
.content_description p::-ms-scrollbar {
  width: 5px;
  background: var(--white);
}
.content_description p::-ms-scrollbar-thumb {
  background: var(--blue);
  border-radius: 5px;
}


/*=======================
  MAP SECTION
========================*/
.wrapper-map {
  display: flex;
  align-items: center;
  color: var(--white);
  margin: 50px 50px 100px;
}
.map_description {
  width: 40%;
  font-size: 30px;
  padding: 20px;
  border-bottom: 7px solid var(--blue);
  border-top: 7px solid var(--blue);
}
.map_max {display: none;}



/*=======================
  COMMENT POST SECTION
========================*/
.wrapper-comments {text-align: center;}
.comments {display: grid;}

.commets_or_user {
  width: 40%;
  max-width: 1700px;
  height: 300px;
  max-height: 1000px;
  border: none;
  padding: 10px;
  font-size: 20px;
  background: var(--btn_positive);
  resize: vertical;
  color: var(--white);
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 0  var(--blue), 
              0 0 20px var(--blue),
              0 0 20px var(--blue),
              0 0 20px var(--blue);
}
.commets_or_user:focus {border: 2px solid var(--blue);}
.submit_comments {margin: 40px auto;}


/*=======================
  COMMENT GET SECTION
========================*/
.wrapper-get-comments {
  background: var(--white);
  padding: 10px;
  height: auto;
  /* max-height: 800px; */
  /* overflow-y: scroll; */
}

/* .wrapper-get-comments::-webkit-scrollbar {
  width: 10px;
  background: var(--white);
}
.wrapper-get-comments::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--blue);
}
.wrapper-get-comments::-moz-scrollbar {
  width: 10px;
  background: var(--white);
}
.wrapper-get-comments::-moz-scrollbar-thumb {
  background: var(--blue);
  border-radius: 5px;
}
.wrapper-get-comments::-ms-scrollbar {
  width: 10px;
  background: var(--white);
}
.wrapper-get-comments::-ms-scrollbar-thumb {
  background: var(--blue);
  border-radius: 5px;
} */

.wrapper-getComments {
  display: block; /* grid */
  text-align: left;
  width: 45%;
  padding: 10px;
  border-top: 2px solid var(--blue);
}
.getComments {
  display: flex;
  align-items: center;
  width: 200px;
  margin: 0;
  
}
.user_img__comment {
  width: 53px;
  border-radius: 69px;
  height: 53px;
  
}
.comment_commentP {
  width: 100%;
  word-wrap: break-word;
  height: auto;
  padding: 20px;
  margin: 10px;
}

.comment_negative {
  color: var(--white);
  text-align: center;
  margin: 20px;
}


/*=======================
  ABOUT PAGE
========================*/
.wrapper-about {
  position: relative; 
  display: flex; 
  justify-content: center;
  align-items: center;
}
.wrapper-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.about_title {
  position: absolute; 
  text-shadow: 7px 5px var(--blue);
  color: var(--white);
  font-size: 70px;
}
.shadow {
  width: 100%;
  height: 15vh;
  background: #05485b82;
  content: "";
  border-radius: inherit;
  opacity: 0.7;
  filter: blur(90px);
}


/*=======================
  PROFILE PAGE
========================*/
.wrapper-account {
  text-align: center;
  color: var(--white);
  margin: 20px;
}
.wrapper-account h1 {margin: 20px;}

.account {
  display: flex;
  align-items: center;
  margin: 0;
  width: 700px;
  background: #05485b2d;
  margin: 0 auto;
  border-radius: 12px;
}
.account i {
  cursor: pointer;
  width: 20px;
}

.user_img {
  width: 190px;
  height: 190px;
  border-radius: 107px;
  margin: 20px;
  cursor: pointer;
}
.info--user {
  width: 400px; 
  text-align: left; 
  margin: 30px;
}

.edit__form_profile {
    width: 67%;
    padding: 30px;
    position: relative;
}
.exit_icon {
  position: absolute;
  right: -100px;
  top: 10px;
}

.info--user li {margin-bottom: 20px;}
.text--user {
  font-size: 24px;
  font-weight: 400;
  padding: 20px 0;
}

/* message */
.wrapper--alert-alert {
  position: relative;
  transition: all 3s ease;
  opacity: 0;
}

.alert-content {position: absolute;}

.alert {
  width: 300px;
  margin: 10px;
  padding: 20px;
  border-radius: 6px;
  color: var(--white);
  font-size: 18px;
}
.alert-error {background: #fc4b0b;}
.alert-info {background: #359e64; }
.alert-success {background: #5aa5b9; }











/*=======================
  FOOTER SECTION
========================*/
footer {
  background-color: var(--black);
  width: 100%;
  height: 300px;
}












/*=======================
  MEDIA
========================*/
@media screen and (max-width: 1510px) {
  .wrapper-map {display: block; margin: 0 auto;}
  .map_max {display: inline;}
  .map_min {display: none;}
  .map_description {margin: 50px auto;}
  .map_description {width: 700px; font-size: 25px;}
}
@media screen and (max-width: 1330px) {
  .main--image {
    width: 40%;
  }
  .wrapper h1 {
    font-size: 40px;
    line-height: 70px;
  }
}
@media screen and (max-width: 1130px) {
  .wrapper--section-services {
    grid-template-columns: repeat(2, 1fr);
    width: 625px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {flex-direction: column-reverse;}
  .main--image {width: 100%;height: 100vh;}

  .conten_absolut {
    position: absolute;
    top: 20%;
    text-align: center;
  }
  header {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 100vh;
    display: none;
    z-index: 2;
    top: 0;
  }
  .exit_modal {display: block;}
  .wrapper-burger {
    position: fixed;
    display: block;
    z-index: 1;
    margin: 20px 10px;
    cursor: pointer;
    top: 0;
  }
  .wrapper-burger img {width: 60px;}
  .navigation,
  .navigation ul {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 0;
  }
  .navigation li {margin: 10px 0;}
  .user {display: none;}
  .user_modile {display: flex; margin-right: 0;}
  .commets_or_user {height: 200px; width: 85%;}
  .title_about p {margin: 10px 0 10px 0; font-size: 18px;}
  .title__wrap_h2 {margin-bottom: 20px;}
  .wrapper--title-about {margin: 30px;}
  .title_about {display: inline-block; padding: 10px;}
  .wrapper-account {margin-top: 80px;}
}
@media screen and (max-width: 800px) {
  .comment_commentP {padding: 0; margin: 21px;}
  .wrapper-getComments {width: 300px;}
  .wrapper--section-services {width: 538px;}
  .services_card, 
  .services_card img {width: 250px;height: 300px;}
  .btn_buy {width: 250px;}
  .account {
    width: 300px; 
    display: block; 
    height: auto;
    padding: 10px;
  }
  .text--user {font-size: 19px; }
  .text--user b {width: 50px;}
  .user_img {width: 120px; height: 120px;}
  .info--user {
    width: 155px; 
    text-align: center;
    margin: 0 auto;
  }
  .account a {position: absolute;}
  .exit_icon {top: -20px; right: -128px;}
  .form__field {flex-direction: column;}
  .btn_submit {width: 120px;}
  .edit__form_profile {width: 90%;}
  .map_description {width: 500px; font-size: 20px;}
  .map_description {
    border-top: 3px solid var(--blue);
    border-bottom: 3px solid var(--blue);
  }
}
@media screen and (max-width: 620px) {
  .wrapper h1 {
    font-size: 30px;
    line-height: 50px;
  }
  .wrapper p {
    padding: 50px auto;
    width: 266px;
    font-size: 22px;
    text-shadow: 3px 2px var(--black);
  }
}
