{% extends 'mainapp/base.html' %} 

{% load static %} 

{% block content %}
<div class="wrapper-about">
  <img src="{% static 'mainapp/sa.jpg' %}" alt="драккар викингов" />
  <div class="shadow"></div>
</div>
<article class="wrapper-article">
  <h1>О нас</h1>
  <div class="content_about">
    <div class="images_about">
        <img src="{% static 'mainapp/sa.jpg' %}" alt="драккар викингов" />
    </div>
    <div class="wrapper--article_description">
      <div>
        <p>
          Турбаза Recreations Center Расположенна в живописных лесах, окруженных
          горными вершинами, наша турбаза приглашает вас на незабываемый отдых в
          духе викингов. Насладитесь уникальной атмосферой средневековой
          скандинавской эпохи и изысканностью современных удобств.
        </p>

        <p>
          Проживание: <br />
          Мы предлагаем разнообразные варианты размещения, включая уютные
          деревянные домики и комфортабельные гостиничные номера, обеспечивая
          идеальные условия для отдыха в любое время года.
        </p>

        <p>
          Меню: <br />
          Откройте для себя вкуснейшие блюда северной кухни в нашем длинном доме
          "Холодное море". Мы гордимся нашим разнообразным меню, включающим в
          себя свежие морепродукты, классические викингские угощения и
          современные гастрономические шедевры. Не упустите возможность
          попробовать наши специальные блюда, приготовленные по древним
          рецептам.
        </p>

        <p>
          Развлечения: <br />
          Окунитесь в атмосферу северных традиций и культуры с нашей богатой
          программой развлечений. Примите участие в викингских играх и
          состязаниях, познайте искусство стрельбы из лука и метания топора. Или
          снаряди дружину и отправся в поход по волнам реки Волги. Вечером наши
          гости могут насладиться веселыми праздниками с факелами, песнями и
          традиционными танцами под звездным небом. Отправляйтесь в путешествие
          во времени и пространстве вместе с нами, где каждый момент наполнен
          волшебством и приключениями, Сколь!
        </p>

        <p>
            На нашем сайте вы сможете легко и удобно заказать и забронировать различные услуги 
            и развлечения еще до вашего прибытия на турбазу. Вот что вы можете заказать и забронировать прямо с нашего сайта:
        </p>
      </div>
    </div>
  </div>
</article>

{% endblock %}
