{% extends 'mainapp/base.html' %} 

{% load static %} 

{% block content %}
<!-- SECTION SUPPORT -->
<div class="wrapper-about">
  <img src="{% static 'mainapp/sa.jpg' %}" alt="Викинги">
  <h1 class="about_title">ᚱecreᛏion cenᛏeᚱ ᚨor viᚠings</h1>
</div>

<div class="wrapper-about__content">
  <div>
    <img src="{% static 'mainapp/homeone.jpg' %}" alt="Дом на берегу Волги">
  </div>
  <div>
    <p>
      Добро пожаловать на нашу турбазу, где история встречает современность! <br><br>
  
      О нашей турбазе<br>
      Мы приглашаем вас отправиться в захватывающее путешествие в мир, где культура история и приключения переплетаются в одно неповторимое приключение. Наша турбаза расположена в живописном месте, окруженном древними лесами и могучими горами, создавая идеальную обстановку для отдыха и приключений.
      <br><br>
      Наши услуги<br>
      Проживание в аутентичных домиках: Откройте для себя уютные домики, вдохновленные древней архитектурой. Здесь вы сможете насладиться атмосферой прошлого, не утратив при этом комфорта современности.
      <br><br>
      Питание: Попробуйте настоящие северные блюда, приготовленные по старинным рецептам с использованием натуральных и свежих ингредиентов.
      <br><br>
      Экскурсии и развлечения: Отправьтесь в увлекательные экскурсии по окрестностям, или просто отдохните у костра под звездным небом.
      <br><br>
      Мероприятия и тематические вечера: У нас всегда много интересных событий, таких как викингские фестивали, тематические вечера и мастер-классы по ремеслам викингов.
      <br><br>
      Почему выбирают нас<br>
      Атмосфера: Мы создали уникальную атмосферу, вдохновленную культурой, чтобы вы могли окунуться в атмосферу прошлого и отдохнуть от суеты современной жизни.
      <br><br>
      Комфорт: Наши домики оборудованы всем необходимым для комфортного проживания, а наша команда сотрудников всегда готова помочь вам во всех ваших запросах.
      <br><br>
      Природа: Расположенная вдали от городской суеты, наша турбаза окружена прекрасной природой, которая приглашает вас на исследование и приключения.
      <br><br>
      Присоединяйтесь к нам и откройте для себя этот мир вместе с нами!
    </p>
  </div>
</div>

<article class="wrapper-support">
  <div class="description__support">
    <h2>Остались вопросы ?</h2>
    <p>
       Заполните форму и специалист <br> свяжется с вами 
    </p>
  </div>
  <div>
   
  <form action="{% url 'about' %}" method="post">
    {% csrf_token %}
      <div>
        <label>Имя</label>
        {{ form.name }}
      </div>
      <div>
        <label>Телефон</label>
        {{ form.phone }}
      </div>
      <div>
        <input class="btn_submit btn_support" type="submit" value="Оставить заявку">
      </div>
  </form>
  </div>
</article>

{% endblock %}
