{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Document</title>
</head>
<body>
   {% include 'includes/navbar.html' %}

   <div class="wrapper--alert-alert" style="opacity: 0;">
    <div class="alert-content">
   {% if messages %}
        {% for msg in messages %}
            <div class="wrapper-alert">
                <div class="alert alert-{{ msg.tags }}">
                    <p>{{ msg }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>

   {% block content %}{% endblock %}

   {% block footer %}
   {% include 'includes/footer.html' %}
   {% endblock footer %}


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="{% static 'js/mainapp.js' %}"></script>
</body>
</html>