{% extends 'mainapp/base.html' %} 

{% load static %} 

{% block content %}
<main>
  <!-- CONTENT -->
  <div class="wrapper">
    <div class="conten_absolut">
      <h1>
        ᚱecreᛏion cenᛏeᚱ <br />
        ᚨor viᚠings
      </h1>
      <p>
        Отдых вдали от города в стиле эпохи викингов <br />
        Мы предлагаем вам погрузиться в самую <br />
        незабываемую атмосферу 7 века
      </p>
    </div>
    <img
      src="{% static 'mainapp/maintwo.jpg' %}"
      class="main--image"
      alt="Отдых в лесу"
    />
  </div>

  <!-- TITLE SECTION -->
  <div class="wrapper--title-about">
    <h2 class="title__wrap_h2">Наши преимущества</h2>
    <div class="title_about">
      <div>
        <div class="icon_title png_image_percent"></div>
        <p class="s">Нет сбора за бронирование</p>
      </div>
      <div>
        <div class="icon_title png_image_rest"></div>
        <p>Более пяти тысяч мест для отдыха</p>
      </div>
      <div>
        <div class="icon_title png_image_reservations"></div>
        <p>Легкий процесс бронирования</p>
      </div>
      <div>
        <div class="icon_title png_image_payment"></div>
        <p>Разные способы оплаты</p>
      </div>
    </div>
  </div>

  <!-- SLIDER SECTION -->
  {% if info_slider %}
  <div class="swiper">
    <div class="swiper-wrapper">
      {% for info_slide in info_slider %}
      <div class="swiper-slide">
        <h4>{{ info_slide.description }}</h4>
        <img src="{{ info_slide.image_slider.url }}" alt="База отдыха" />
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <!-- SERVICES SECTION -->
  {% if services %}
  <div class="services_title">
    <h2 class="title__wrap_h2">Каталог Домов</h2>
    {% include 'includes/services.html' with services=services|slice:":6" %}
    <a href="{% url 'service' %}"><h4>Смотреть все...</h4></a>
  </div>
  {% endif %}

   <!-- MENU SECTION -->
   {% if menu_card %}
   <div class="services_title">
    <h2 class="title__wrap_h2">Меню</h2>
    {% include 'includes/menu.html' with menu_card=menu_card|slice:":6" %}
    <a href="{% url 'menu' %}"><h4>Смотреть все...</h4></a>
  </div>
  {% endif %}

  {% if entertainment_card %}
   <!-- ENTERTAIMENT SECTION -->
   <div class="services_title">
    <h2 class="title__wrap_h2">Развлечение на территории</h2>
    {% include 'includes/entertainment.html' with services=services|slice:":6" %}
    <a href="{% url 'entertainment' %}"><h4>Смотреть все...</h4></a>
  </div>
  {% endif %}

  <!-- COMMENT POST SECTION -->
  {% if request.user.is_authenticated %}
  <div class="wrapper-comments">
    <h2 class="title__wrap_h2">Оставить отзыв</h2>

    <form action="{% url 'comments' %}" method="post" class="comments">
      {% csrf_token %}
        <textarea name="user_comments" class="commets_or_user" cols="30" rows="10" required></textarea>
        <input type="submit" class="btn_submit submit_comments" value="Оставить отзыв" style="text-align: center;">
    </form>
  </div>
  {% else %}
  <div>
    <h2 class="comment_negative">Комментарии могут оставлять только <br> зарегестрированые пользователи</h2>
  </div>
  {% endif %}

  <!-- COMMENT GET SECTION -->
  {% if comments %}
    <div class="wrapper-get-comments">
      {% for comment in comments %}
      <div class="wrapper-getComments">
        <div class="getComments">
            <img class="user_img__comment" src="{{ comment.owner.profile_image.url }}" alt="Пользователь">
            <h2>{{ comment.owner }}</h2>
        </div>
          <div class="comment_user_text">
            <p class="comment_commentP">{{ comment.user_comments }}</p>
            <p class="comment_commentP">{{ comment.created }}</p>
            <!-- <hr> -->
          </div>
      </div>
      {% endfor %}
    </div>
  {% endif %}

</main>
{% endblock %}
