{% extends 'mainapp/base.html' %} 

{% block content %}
<main>
    <h1 class="title_h1">ᚱecreᛏion cenᛏeᚱ <br> ᚨor <b>viᚠings</b></h1>
    <div class="wrapper-content">
        <div class="settings_services">
           <form action="#" method="get" class="form_search">
                <input type="text" class="search input_auth" name="search_query" value="{{ search_query }}" placeholder="Поиск">
                <input type="submit" class="btn_submit btn_search" value="Поиск">
           </form> 
        </div>
    </div>
    {% include 'includes/services.html' %}
</main>
{% endblock %}