{% load static %}

<header>
  <nav class="navigation">
    <a href="{% url 'home' %}">
      <div class="logo_nav"></div>
    </a>
    <ul>
      <li><a href="{% url 'home' %}">Главная</a></li>
      <li><a href="{% url 'menu' %}">Меню</a></li>
      <li><a href="{% url 'service' %}">Дома и цены</a></li>
      <li><a href="{% url 'entertainment' %}">Развлечение</a></li>
      <li><a href="{% url 'about' %}">О нас</a></li>
    </ul>
    {% if request.user.is_authenticated %}

      {% if user.profile.profile_image.url %}
          <img class="user" src="{{ user.profile.profile_image.url }}" alt="Пользователь">
      {% else %}
          <img class="user" src="{% static 'mainapp/user.png' %}" alt="Пользователь">
      {% endif %}

    <div class="modal_user" style="display: none">
      <a href="{% url 'profile' %}"><div class="settings_user"></div></a>
      {% if user.profile.profile_image.url %}
          <img class="user-img-modal" src="{{ user.profile.profile_image.url }}" alt="Пользователь">
      {% else %}
          <img src="{% static 'mainapp/user.png' %}" alt="Пользователь">
      {% endif %}
      <h3>{{ user.profile.username }}</h3>
      
      <form class="logout" method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn_submit">Выйти</button>
      </form>
    </div>
    {% else %}
    <a href="{% url 'login' %}">
      <img class="user" src="{% static 'mainapp/user.png' %}" alt="Войти" />
    </a>
    {% endif %}
  </nav>
</header>
<div class="wrapper-burger">
  <img src="{% static 'mainapp/burger.png' %}" alt="меню" />
</div>
